#outside{
  background:#F0F2EA;
  height: 100vh;
  min-height: 400px;
  min-width: 900px;
}

#inside{
  position: absolute;
  right: 50%; 
  transform: translate(50%, 0%);
  min-width: 700px;
}

#top{
  background: #6D5865;
  color: white; 
  font-family: calibri; 
  padding-left: 25px;
  width: 100vw;
  max-width: 700px; 
  min-height: 80px; 
  border-bottom: 2px solid white;
  min-width: 700px;
}

h1{
  font-size: 42px; 
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0px;
  white-space: nowrap;
}

.col-sm-6{
  overflow: hidden;
}

.done{
  margin-top: 10px;
}

.one,.two,.three{
  background: white;
  color: #6D5865;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 3px;
  overflow: hidden;
}

#one{
  color: #6D5865;
  padding-right: 20px;
}

#two{
  color: #A5DEC4; 
  padding-right: 20px; 
}

#three{
  color: #A5C7DE; 
  padding-right: 20px; 
}

.a{
  width: 80px;
  transform: translate(245px,5px);
}

.b{
  width: 20px;
  transform: translate(305px,5px);
}

m1{
  display: inline;
}

.b{
  overflow: hidden; 
  height: 17px;
}

.b:hover{
  width: 80px;
  transform: translate(245px,5px); 
}

#ima{
  border-radius: 50px;
  border: 3px solid white;
}

.mo{
  padding-top: 18px;
}

.offline{
  background: #A5DEC4; 
  height: 60px;
}

.online{
  background: #A5C7DE; 
  height: 60px;
}

.ima2{
  margin-top: 15px;
}

.a:hover, .b:hover{
  cursor: pointer;
}

@media(max-width:700px){
  #inside{
    position: absolute;
    left: 0%; 
    transform: translate(10%, 0%);
  }

}
